#draggable-image {
  position: absolute;
  user-drag: none;
  user-select: none;
  /* Дополнительные стили для изображения, если необходимо */
}

#draggable-text {
  position: absolute;
  user-drag: none;
  user-select: none;
}

